body.no-sweetalert {
    background-color: blue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body>* {
    background-color: blue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: goldenrod;
}

#game-container {
    text-align: center;
    size-adjust: 100%;
}

#result-container {
    text-align: center;
}

button {
    height: 100px;
    width: 100px;
    border: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    box-sizing: border-box;
    touch-action: manipulation;
}

#buttonOne {
    background-image: url(./img/rock.png);
}

#buttonTwo {
    background-image: url(./img/paper.png);
}

#buttonThree {
    background-image: url(./img/scissors.png);
}

button span {
    display: none;
}

#computer-selection-img {
    display: block;
    margin: auto;
}

@media screen and (max-width: 500px) {
    button {
        height: 200px;
        width: 175px;
    }
}